
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  width: 8rem;
  height: 3rem;
  border: 1px solid;
  border-color: rgba(255,255,255,0.2);
}
