:root {
  --grey: rgba(255,255,255,0.2);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.Controller {
  display: flex;
  margin: 2rem;
  padding: 0 3rem;
  border: 1px solid;
  border-color: var(--grey);
}

.Controller button {
  padding: 1rem 3rem;
  margin: 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.grid-column {
  
}

.grid-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  height: 3rem;
  border: 1px solid;
  border-color: var(--grey);
}

.grid-cell p {
  margin-left: 1rem;
}

.grid-form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid-form-input {
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0 5px;
    height: calc(100% - 4px);
    display: table-cell;
    width: calc(100% - 4px);
}
